header {
    background-color: aqua;
    text-align: center;
    span{
        font-weight: 700;
        font-size: 50px;
        color: #ffffff;
        position:absolute;
        top: 50px;
      
        
    }
    #hamburger{
        position:absolute;
        top: 10px;
        right: 40px;
        max-width: 50px;
    }

}
nav{
    display:none;
    
}


ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    a{
        text-decoration: none;
     }

}



footer{
    text-align: center;
}

#mainContent{
   

    section{
        box-shadow: black 0 0 10px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;

        
    }
    #certificate{
        grid-column: span 3;
        text-align: center;
        .menu{
            border-bottom: black solid 1px;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            div{
                background-color: #1e152a;
                margin:10px;
                padding:10px;
                border-radius: 10px;
                color:aliceblue

            }


        }
        .cards{
            div{
            background-color: #a3b18a;
            margin:10px;
            padding:10px;
            border-radius: 10px;
            }
        }
    }
}
body{
    max-width: 1200px;
    
}
html{
    display:flex;
    justify-content: center;
}